*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
   
    color:gold;
    font-weight: bold;
    display: center;
    font-size: 40px;
    display:block;
    text-align: center;
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  .column{
      column-count: 2;
      width: fit-content;
      position: relative;
      justify-content: space-between;
  }
.begin{
    color: white;
    padding: 15px 32px;
    display: block;
    text-align: center;
    font-size: 16px;
    margin:auto;
    background-color: green;
    border: 2px solid black;
}

.begin:hover{
    background:blue;
}
.center{
    margin: 0 auto;
    width: 400px;
    
}
html { 
    background: url(../assets/images/bitcoin-1813503_1280.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} 
marquee {
    font-size: large;
    color: rgb(255, 188, 4);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
marquee h3 {
    display:inline-flex;
}
.positiveChange {
    color:green;
}
.negativeChange {
    color:red;
}
.neutralChange {
    color:gray;
}