*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color:blue
}
.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  .column{
      column-count: 2;
      width: fit-content;
      position: relative;
      justify-content: space-between;
  }